   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      line-height: 1.6;
      background: #FFF9F0;
      color: #020202;
    }

    header {
      background: #2c3f67;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    nav {
      background: #9e9e9e;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: #fff;
      margin: 0 15px;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      color: #2C5282;
    }

    .container {
      padding: 30px;
    }

    .section {
      background: #ffffff;
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .contact-form input,
    .contact-form textarea {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    .contact-form button {
      background: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;
    }

    .contact-form button:hover {
      background: #1a7e1f;
    }

   .contact{
    text-align: left;
    font-size: small;
    color: darkgoldenrod;

    }

    footer {
      text-align: center;
      padding: 15px;
      background: #2c3f67;
      color: #fff;
    }